body
{
  background-image: url('../images/background.jpeg');
}

.col-md-8
{
  background-color: transparent;
  color: black;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.padcol
{
  background-color: transparent;
  color: black;
}

.form-control
{
  width: 33%;
  margin-left: 33%;
  margin-bottom: 24px;
}

img
{
  border: solid transparent 10px;
}

p
{
  text-align: justify;
}

.jumbotron
{
  margin-top: 10px;
}

.progress
{
  margin-top: 35px;
  margin-bottom: 10px;
}

.progress-bar
{
  -webkit-transition: none;
  transition: none;
}
