body
{
  background-image: url('../images/background.jpeg');
}

.col-md-8
{
  background-color: transparent;
  color: black;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.padcol
{
  background-color: transparent;
  color: black;
}

.form-control
{
  width: 33%;
  margin-left: 33%;
  margin-bottom: 24px;
}

img
{
  border: solid transparent 10px;
}

p
{
  text-align: justify;
}

.jumbotron
{
  margin-top: 10px;
}

.progress
{
  margin-top: 35px;
  margin-bottom: 10px;
}

.progress-bar
{
  -webkit-transition: none;
  transition: none;
}

@media screen and (max-width: 980px)
{
  body
  {
    background-image: url('../images/background-md.png');
  }
}

@media screen and (max-width: 675px)
{
  body
  {
    background-image: url('../images/background-sm.png');
  }

  h1
  {
    color: lightgoldenrodyellow;
  }

  p
  {
    font-size: 8px;
    text-align: left;
  }

  img
  {
    position: relative;
    right: 30px;
  }

  .form-control
  {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 320px)
{
  p
  {
    font-size: 6px;
  }

  img
  {
    right: 40px;
  }

  h3
  {
    padding-bottom: 18px;
  }

  .container-fluid
  {
    margin-left: 30px;
  }

  .jumbotron
  {
    margin-left: -16px;
    margin-right: -40px;
  }

  .btn-primary
  {
    position: relative;
    top: -15px;
  }

  .form-control
  {
    width: 52%;
    margin-left: 24%;
    margin-bottom: 30px;
  }

}
